* {
    box-sizing: border-box;    
    margin: 0px;
    border: 0px;
}
.container {    
    display: grid;    
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 100vw;
    height: 100vh;    
}
    .grid-item {
        
    }
    .dashboard {
        grid-row: 1 / 6;
        background-color: #444;
    }
    .navbar {
        grid-column: 2 / 6;
        background-color: darkgrey;
    }
    .sections {
        grid-row: 2 / 6;
        grid-column: 5 / 6;
        background-color: rgb(238, 238, 238);
    }
    .content {
        grid-row: 2 / 6;
        grid-column: 2 / 6;
        background-color: rgb(238, 238, 238);
    }